.feedicon {
    display: flex;
    align-items: center;
    padding: 10px;
    color: rgb(105, 105, 105);
    cursor: pointer;
    justify-content: center;

    &:hover {
        background-color: rgba(128, 128, 128, 0.096);
        border-radius: 5px;
    }

    .icon {
        height:1.5rem;
        width: 1.5rem;
        object-fit: contain;
        padding-right: 10px;
    }
}